
.lista-filmes{
    max-width: 800px;
    margin: 14px auto;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    color: aquamarine;
}

.lista-filmes article {
    width: 100%;     
    background-color: rgb(44, 44, 44);
    padding: 15px;
    border-radius: 10px;
}

.lista-filmes strong{
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    display: block;
    color: aquamarine;
}

.lista-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 350px ;
    object-fit: cover;
    border-radius: 10px;
}

.lista-filmes a{
    background-color:aquamarine;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 8px;
}

.lista-filmes a:hover {
    cursor: pointer;
    background-color: black;
    color: aquamarine;
    transition: 0.3s;

}
